body{
    background-color: rgb(31, 31, 117);
}
.imgbox{
    position: relative;
    top: 7px;
    left: 4px;
    height: 141px;
    width: 148px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjKmqHvu3VYieVvQ9FueMbu4IpZTy27ADANw&usqp=CAU);
    cursor: pointer;

}
.whitebox{
    display: inline-block;
    height: 155px;
    width: 155px;
    margin: 12px 7px;
    background-color: aqua;
    border: 2px solid black;
}

.hold{
    border: 2px solid red;
}

.hide{
    display: none;
}

.dashed{
    background-color: brown;
    border-style: dashed;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    margin: auto;
  
}